In [1]:
import numpy as np
import pandas as pd
import csv

## import and key dictionaries

In [2]:
deals_info = pd.read_csv('deals_captable.csv', encoding = "ISO-8859-1", low_memory=False)
print(deals_info.shape)
print(deals_info.head())

(109626, 110)
  company_id company_name    deal_id  deal_number announced_date  deal_date  \
0   53495-20           29  19983-88T          1.0            NaN   8/7/2009
1   53874-64         37.5  24149-80T          4.0      12/1/2012  12/7/2012
2   53874-64         37.5  24149-80T          4.0      12/1/2012  12/7/2012
3   53874-64         37.5  24149-80T          4.0      12/1/2012  12/7/2012
4   53874-64         37.5  88577-83T          5.0      4/24/2017  5/31/2017

   deal_size  pre_valuation  post_valuation post_valuation_status  ...  \
0    1.40000            NaN             NaN                   NaN  ...
1   15.00000           45.0        60.00000                Actual  ...
2   15.00000           45.0        60.00000                Actual  ...
3   15.00000           45.0        60.00000                Actual  ...
4    3.74999           60.0        63.74999                Actual  ...

  general_voting.rights shares_authorized par_value dividend_rate  \
0                   NaN               NaN       NaN           NaN
1                   Yes         2858436.0     0.001           NaN
2                   Yes        46899045.0     0.001           NaN
3                   Yes        31336627.0     0.001           NaN
4                   Yes        41109410.0     0.001           NaN

   original_price liquidation liquidation_pref_mutliple conversion_price  \
0             NaN         NaN                       NaN              NaN
1        0.704478    0.704478                       1.0         0.604479
2        0.428320    0.428320                       1.0         0.428320
3        0.511625    0.511625                       1.0         0.511625
4        0.511625    0.511625                       1.0         0.511625

  percent_owned last_updated_y
0           NaN            NaN
1      2.840633     12/29/2017
2     39.991206     12/29/2017
3     25.000000     12/29/2017
4     29.411757     12/29/2017

[5 rows x 110 columns]

In [3]:
company_info = pd.read_csv('company_info.csv', encoding = "ISO-8859-1", low_memory=False)
print(company_info.shape)
print(company_info.head())

(102350, 57)
  company_id company_name_x familiar_name previous_name exchange ticker  \
0   53495-20             29  29 Cosmetics           NaN      NaN    NaN
1   53874-64           37.5           NaN       TrapTek      NaN    NaN
2   62083-18             52           NaN           NaN      NaN    NaN
3   95778-37             87           NaN           NaN      NaN    NaN
4   61744-96            411        411.ca           NaN      NaN    NaN

   employee_count  year_founded     business_status  \
0             5.0        2007.0  Generating Revenue
1            26.0        2000.0  Generating Revenue
2             7.0        2012.0  Generating Revenue
3             NaN           NaN     Out of Business
4            86.0        1999.0  Generating Revenue

                         ownership_status  ...  address_2      city state  \
0                Privately Held (backing)  ...  Suite 402    Canton  11.0
1                Privately Held (backing)  ...  Suite 300   Boulder   6.0
2                Privately Held (backing)  ...        NaN  Columbia  42.0
3                         Out of Business  ...        NaN  New York  33.0
4  Acquired/Merged (Operating Subsidiary)  ...  Suite 300   Toronto  60.0

       zip        country  location_type location_status       office_phone  \
0    30114  United States            1.0         Current  +1 (800) 668-1483
1    80301  United States            1.0         Current  +1 (720) 652-9726
2    29201  United States            1.0         Current  +1 (803) 200-2459
3    10017  United States            1.0         Current                NaN
4  M3C 1H9         Canada            1.0         Current  +1 (416) 849-1432

          office_fax last_updated_y
0  +1 (888) 415-2929      6/25/2017
1  +1 (720) 207-5977      6/25/2017
2                NaN      6/25/2017
3                NaN      6/25/2017
4  +1 (416) 646-0570     12/29/2017

[5 rows x 57 columns]

In [4]:
complete_companies = company_info.merge(deals_info, on='company_id', how='inner')

In [5]:
print(complete_companies.shape)

(109626, 166)

In [7]:
complete_companies.to_csv('OUT_companies.csv', index=False)